dist/
node_modules/

src/code/language/js/es6/style.md
src/code/language/js/function/declare.md
src/code/language/js/function/method.md
src/code/language/js/guide/condition.md
src/code/language/js/guide/exercise.md
src/code/language/js/guide/grammar.md 
src/code/language/js/guide/loop.md
src/code/language/js/guide/variable.md
src/code/language/js/intro/history.md
src/code/language/js/operators/priority.md
src/code/language/js/types/string.md
src/code/language/python/guide/dictAndSet.md
src/code/language/python/guide/exercise.md
src/code/miniProgram/guide/fileStructure.md
src/code/miniProgram/guide/view/event.md
src/code/miniProgram/guide/service/api/interact.md
