.katex{font-size:1.05em}.katex-display{padding-top:.2em;padding-bottom:.2em;overflow:auto hidden;-webkit-overflow-scrolling:touch}.katex-display::-webkit-scrollbar{height:3px}.katex-display .katex{font-size:1.21em}.katex-error{color:red}
